<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>type</key>
			<string>switch</string>
			<key>key</key>
			<string>夜间模式</string>
			<key>value</key>
			<string>0</string>
		</dict>
		<dict>
			<key>type</key>
			<string>switch</string>
			<key>key</key>
			<string>仅在Wi-Fi下离线</string>
			<key>value</key>
			<string>0</string>
		</dict>
		<dict>
			<key>type</key>
			<string>text</string>
			<key>key</key>
			<string>清理缓存</string>
			<key>value</key>
			<string>0M</string>
		</dict>
		<dict>
			<key>type</key>
			<string>arrows</string>
			<key>key</key>
			<string>去评分</string>
			<key>value</key>
			<string></string>
		</dict>
		<dict>
			<key>type</key>
			<string>text</string>
			<key>key</key>
			<string>联系我们</string>
			<key>value</key>
			<string></string>
		</dict>
		<dict>
			<key>type</key>
			<string>arrows</string>
			<key>key</key>
			<string>微信公众号</string>
			<key>value</key>
			<string></string>
		</dict>
		<dict>
			<key>type</key>
			<string>arrows</string>
			<key>key</key>
			<string>微博</string>
			<key>value</key>
			<string></string>
		</dict>
		<dict>
			<key>type</key>
			<string>arrows</string>
			<key>key</key>
			<string>帮助</string>
			<key>value</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>type</key>
			<string>arrows</string>
			<key>key</key>
			<string>恢复订阅</string>
			<key>value</key>
			<string></string>
		</dict>
		<dict>
			<key>type</key>
			<string>arrows</string>
			<key>key</key>
			<string>同步权限</string>
			<key>value</key>
			<string></string>
		</dict>
		<dict>
			<key>type</key>
			<string>text</string>
			<key>key</key>
			<string>版本号</string>
			<key>value</key>
			<string>V2.3.6</string>
		</dict>
	</array>
</array>
</plist>
