<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>通过苹果AppStore付费订阅后，您可以在第一财经周刊的其他App或CBNWeek.com中同步阅读权益而不必重复购买。现在请使用CBNWeek.com的账户在下方登录，以此将AppStore阅读权益同步至CBNWeek.com账号。</string>
	<string>本App的订阅可以同步至App Store原有的“第一财经周刊”iPad杂志，但暂时不支持将原有iPad杂志的订阅同步至本App，原有iPad杂志的用户如需同步订阅至本App，请发邮件至 zkkf@cbnweek.com ，我们会为您人工解决。</string>
	<string>在此完成同步操作后，您只需在原有“第一财经周刊”iPad杂志登录并“恢复订阅网站全部购买”，即可解锁已购买过的杂志。</string>
</array>
</plist>
